WEBHOOK_SECRET=

CDP_API_KEY_ID=
CDP_API_KEY_SECRET=
CDP_WALLET_SECRET=

CDP_WALLET_ADDRESS=

PORT=3000
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=

FRONTEND_URL=
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=